@import "tailwindcss";

:root {
  --primary: #030213;
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #f2edee;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mycontainer {
  @apply mx-auto px-3 max-w-full sm:max-w-160 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl;
}
